@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Jura;
	background-color: rgb(18, 20, 26);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	background-color: rgb(18, 20, 26);
	color: #dcd8d3;
}
